body{
    color: rgb(88, 82, 82);
    /* background: #000; */
}

.navbar-light .navbar-brand{
    font-size: 3rem;
    color: rgb(34, 168, 221);
}
.fa-facebook-f{
    width: 3.75rem;
    text-align: center;
}
.nav-icon{
    font-size: 1.5rem;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    padding: 1rem;
    color: rgb(34, 168, 221);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.banner{
    background: linear-gradient( rgba(115, 204, 237, 0.5) 100%, rgba(4, 255, 255, 0.5)100%), url('./images/yin-weiquan-_Zxu12ObsPY-unsplash.jpg') no-repeat;
    height: 90vh;
    background-size: cover;
    position: relative;
}
.banner-txt{
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
}
.cctv{
    font-size: 4rem;
    font-weight: 400;
}
.btn{
    border-radius: 1.3rem;
    padding: 0.8rem 2rem;
    margin: 0.5rem;
    background: darkblue;
    border: none;
}
.btn-2{
    background: white;
    color: rgba(0, 0, 0, 0.5);
}

.h-lock{
    display: flex;
}
.fa-house-lock{
    height: 6.5rem;
    font-size: 3rem;
    color: rgb(34, 168, 221);
    border: 2px solid white;
    border-radius: 50%;
    padding: 1.25rem 1.25rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-3{
    background: rgb(171, 30, 159);
    color: white;
    padding: 0.5rem 2rem;
}

.fa-globe{
    color:rgb(34, 168, 221) ;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.our{
    font-size: 3rem;
    font-weight: 300;
}

.arrow{
    padding-left: 5rem;
    color: rgb(34, 168, 221);
}
.num{
    color: rgb(34, 168, 221);
}
.para-num{
    font-size: 2rem;
    border: 2px solid white;
    color: hotpink;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.two-img{
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.two-img img{
    border: 2px solid white;
    border-radius: 5rem;
}

.security{
    border: 2px solid white;
    border-radius: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2)
}
.Product{
    color: blueviolet;
}

.title{
    color: blueviolet;
}

.embed-responsive{
    height: 60vh;
    width: 72vw;
    border-radius: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2)
}

/* .years
{
    border-right: 2px solid gray;
    margin-left: 1rem;
} */
.numeric{
    width: 5.25rem;
    text-align: center;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 50%;
    color: rgb(34, 168, 221);
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.2)
}
.btn-pri{
    padding: 0.5rem 3rem;
    color: white;
    background: rgb(34, 168, 221);
    border-radius: 3rem;
}
.news{
    border: 2px solid white;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2)
}
.progress{
    height: 0.3rem;
    color: rgb(34, 168, 221);
}

.profile img{
    width: 10rem;
    height: 10rem;
    margin: auto;
    border-radius: 5rem;
}

.card-group>.card+.card{
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.card-group>.card:not(:last-child){
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.carousel-item img{
    width: 12vw;
    height: 12rem;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.slider{
    margin-top: 7rem;
    position: relative;
}

.carousel-caption{
    color: rgba(0, 0, 0, 0.5);
    position: static;
    padding-bottom: 1rem;
    padding-top: 0;
}
.carousel-control-prev,
.carousel-control-next{
filter: invert(100%);
}
.carousel-control-next-icon{
    width: 4rem;
    height: 1rem;
}

.icons{
    font-size: 1.5rem;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    padding: 1rem;
    color: rgb(34, 168, 221);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.world{
    display: grid;
    grid-template-rows: repeat(1fr);
}

.glo{
    height: 3.1rem;
    color:rgb(34, 168, 221) ;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.map{
    width: 100%;
    height: 70vh;
    filter: grayscale(100%);
    border-radius: 2rem;
}

.footer-top{
    list-style: none;
}
.footer-top li a{
    color: #aaa;
    text-decoration: none;
}
.footer{
    border-top: 1px solid #aaa;
}

@media screen and (max-width: 480px){
    .navbar-brand{
        margin-left: 1.3rem;
    }
.banner-txt {
    position: absolute;
    top: 20%;
    left: 2%;
    color: white;
}
.banner{
    height: 50vh;
}
.cctv {
    font-size: 3rem;
    font-weight: 400;
}
.h-lock {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
    align-items: center;
}
.para-num{
    padding: 1rem;
}
.arrow{
    padding-left: 1rem;
}
.card.ml-5.two-img {
    margin-left: 0!important;
}
.embed-responsive {
    height: 30vh;
    width: 93vw;
    border-radius: 3rem;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    margin-top: 1rem;
}
.news{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subscribe-txt{
    font-weight: 400;
}
.card.profile.mx-5.card2 {
    margin-left: 0!important;
    margin-right: 0!important;
}
.user{
    font-size: 2rem;
}
.carousel-item img {
    width: 22vw;
    height: 10vh;
}
.follow{
    flex-direction: column;
}
i.fa-brands.fa-instagram.icons{
    margin-left: 2rem;
    margin-right: 2rem;
}
.orgnazation{
    margin-top: 1rem;
}
.customer{
    flex-direction: column;
}
.world{
    display: inline-block;
    text-align: center;
}
.glob{
    margin-right: 1rem;
    margin-left: 1rem;
}
.map{
    height: 50vh;
    border-radius: 3rem;
}
}